<section class="py-10 bg-[#f8f5f1]">
  <div class="container-editorial">

    <div class="flex flex-wrap items-center gap-3">

      <button onclick="filterProducts('todos', this)" class="filter-btn active-filter">
        Todos
      </button>

      <button onclick="filterProducts('nike', this)" class="filter-btn">
        Nike
      </button>

      <button onclick="filterProducts('adidas', this)" class="filter-btn">
        Adidas
      </button>

      <button onclick="filterProducts('tommy', this)" class="filter-btn">
        Tommy Hilfiger
      </button>

      <button onclick="filterProducts('north-face', this)" class="filter-btn">
        The North Face
      </button>

      <button onclick="filterProducts('columbia', this)" class="filter-btn">
        Columbia
      </button>

      <button onclick="filterProducts('Armani', this)" class="filter-btn">
        Armani
      </button>

      <button onclick="filterProducts('On Cloud', this)" class="filter-btn">
        On Cloud
      </button>

      <button onclick="filterProducts('otras', this)" class="filter-btn">
        Otras marcas
      </button>

    </div>

  </div>
</section>