<section class="pb-24 bg-[#f8f5f1]">

    <div class="container-editorial">

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

            <!-- NIKE -->
            <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$400.000 COP',
                'Tenis importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/tenis nike1.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/tenis nike1.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $400.000 COP
                    </p>
                </div>

            </article>

            <!-- NIKE -->
            <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$230.000 COP',
                'Buzo importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg2.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg2.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $230.000 COP
                    </p>
                </div>

            </article>

            <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$310.000 COP',
                'Tenis importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg3.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg3.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $310.000 COP
                    </p>
                </div>

            </article>
            
             <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$300.000 COP',
                'Tenis importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg4.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg4.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $300.000 COP
                    </p>
                </div>

            </article>

             <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$290.000 COP',
                'Tenis importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg5.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg5.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $290.000 COP
                    </p>
                </div>

            </article>

            <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$490.000 COP',
                'Tenis importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg6.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg6.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $490.000 COP
                    </p>
                </div>

            </article>

             <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$220.000 COP',
                'Sudadera importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg7.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg7.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $220.000 COP
                    </p>
                </div>

            </article>

             <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$90.000 COP',
                'Camiseta importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg9.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg9.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $90.000 COP
                    </p>
                </div>


            </article>


             <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$90.000 COP',
                'Camiseta importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg10.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg10.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $90.000 COP
                    </p>
                </div>


            </article>

            
             <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$220.000 COP',
                'Sudadera importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg11.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg11.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $220.000 COP
                    </p>
                </div>


            </article>

            
             <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$115.000 COP',
                'Pantalón de sudadera importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg12.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg12.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $115.000 COP
                    </p>
                </div>


            </article>

            
             <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$180.000 COP',
                'Buzo importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg14.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg14.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $180.000 COP
                    </p>
                </div>


            </article>

            <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$145.000 COP',
                'Top deportivo importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg15.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg15.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $145.000 COP
                    </p>
                </div>

                </article>


         <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$200.000 COP',
                'Top deportivo importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg16.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg16.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $200.000 COP
                    </p>
                </div>

                </article>

                 <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$125.000 COP',
                'Top deportivo importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg17.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg17.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $125.000 COP
                    </p>
                </div>

                </article>

            <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$220.000 COP',
                'Canguro importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg13.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg13.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $220.000 COP
                    </p>
                </div>


            </article>

            <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$125.000 COP',
                'Buzo importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg18.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg18.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $125.000 COP
                    </p>
                </div>


            </article>

            <article
                data-brand="nike"
                onclick="openProductModal(
                'Nike',
                'Nike',
                '$232.000 COP',
                'Buzo importados bajo pedido. Consulta disponibilidad y tallas.',
                '/static/img/nikeimg19.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/nikeimg19.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Nike
                    </p>

                    <h3 class="text-2xl mt-2">
                        Nike 
                    </h3>

                    <p class="font-semibold mt-3">
                        $232.000 COP
                    </p>
                </div>


            </article>



            <!-- ADIDAS -->
            <article
                data-brand="adidas"
                onclick="openProductModal(
                'Adidas Campus',
                'Adidas',
                '$450.000 COP',
                'Sneakers importados estilo urbano.',
                '/static/img/products/product2.jpg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/products/product2.jpg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Adidas
                    </p>

                    <h3 class="text-2xl mt-2">
                        Adidas Campus
                    </h3>

                    <p class="font-semibold mt-3">
                        $450.000 COP
                    </p>
                </div>

            </article>

        
          
            <!-- ADIDAS -->
            <article
                data-brand="adidas"
                onclick="openProductModal(
                'Adidas Campus',
                'Adidas',
                '$450.000 COP',
                'Sneakers importados estilo urbano.',
                '/static/img/products/product2.jpg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/products/product2.jpg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Adidas
                    </p>

                    <h3 class="text-2xl mt-2">
                        Adidas Campus
                    </h3>

                    <p class="font-semibold mt-3">
                        $450.000 COP
                    </p>
                </div>

            </article>

             <article
                data-brand="adidas"
                onclick="openProductModal(
                'Adidas Campus',
                'Adidas',
                '$450.000 COP',
                'Sneakers importados estilo urbano.',
                '/static/img/products/product2.jpg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/products/product2.jpg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Adidas
                    </p>

                    <h3 class="text-2xl mt-2">
                        Adidas Campus
                    </h3>

                    <p class="font-semibold mt-3">
                        $450.000 COP
                    </p>
                </div>

            </article>

            <!-- TOMMY -->
            <article
                data-brand="tommy"
                onclick="openProductModal(
                'Classic Hoodie',
                'Tommy Hilfiger',
                '$150.000 COP',
                'Buzo clásico importado.',
                '/static/img/tommy1.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/tommy1.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Tommy Hilfiger
                    </p>

                    <h3 class="text-2xl mt-2">
                        Classic Hoodie
                    </h3>

                    <p class="font-semibold mt-3">
                        $150.000 COP
                    </p>
                </div>

            </article>

             <article
                data-brand="tommy"
                onclick="openProductModal(
                'Classic Hoodie',
                'Tommy Hilfiger',
                '$150.000 COP',
                'Buzo clásico importado.',
                '/static/img/tommy2.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/tommy2.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Tommy Hilfiger
                    </p>

                    <h3 class="text-2xl mt-2">
                        Classic Hoodie
                    </h3>

                    <p class="font-semibold mt-3">
                        $150.000 COP
                    </p>
                </div>

            </article>

            <!-- NORTH FACE -->
            <article
                data-brand="north-face"
                onclick="openProductModal(
                'Mountain Vest',
                'The North Face',
                '$389.000 COP',
                'Chaleco outdoor premium.',
                '/static/img/products/product4.jpg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/products/product4.jpg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        The North Face
                    </p>

                    <h3 class="text-2xl mt-2">
                        Mountain Vest
                    </h3>

                    <p class="font-semibold mt-3">
                        $389.000 COP
                    </p>
                </div>

            </article>

            <!-- COLUMBIA -->
            <article
                data-brand="columbia"
                onclick="openProductModal(
                'Outdoor Jacket',
                'Columbia',
                '$420.000 COP',
                'Chaqueta outdoor para clima frío.',
                '/static/img/products/product5.jpg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/products/product5.jpg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Columbia
                    </p>

                    <h3 class="text-2xl mt-2">
                        Outdoor Jacket
                    </h3>

                    <p class="font-semibold mt-3">
                        $420.000 COP
                    </p>
                </div>

            </article>



            <article
                data-brand="columbia"
                onclick="openProductModal(
                'Chaqueta Columbia',
                'Columbia',
                '$200.000 COP',
                'Chaqueta  para clima frío.',
                '/static/img/columbia2.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/columbia2.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Columbia
                    </p>

                    <h3 class="text-2xl mt-2">
                        Chaqueta Columbia
                    </h3>

                    <p class="font-semibold mt-3">
                        $200.000 COP
                    </p>
                </div>

            </article>

                

            <article
                data-brand="columbia"
                onclick="openProductModal(
                'Chaqueta Columbia',
                'Columbia',
                '$460.000 COP',
                'Chaqueta  para clima frío.',
                '/static/img/columbia3.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/columbia3.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                        Columbia
                    </p>

                    <h3 class="text-2xl mt-2">
                        Chaqueta Columbia
                    </h3>

                    <p class="font-semibold mt-3">
                        $460.000 COP
                    </p>
                </div>

            </article>



            <!-- OTRAS MARCAS -->
            <article
                data-brand="otras"
                onclick="openProductModal(
                'Puma',
                'Otras Marcas',
                '$95.000 COP',
                'Producto disponible bajo pedido.',
                '/static/img/puma1.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/puma1.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                       Puma
                    </p>

                    <h3 class="text-2xl mt-2">
                        Puma
                    </h3>

                    <p class="font-semibold mt-3">
                        $95.000 COP
                    </p>
                </div>

            </article>

            <article
                data-brand="otras"
                onclick="openProductModal(
                'Puma',
                'Otras Marcas',
                '$95.000 COP',
                'Producto disponible bajo pedido.',
                '/static/img/puma2.jpeg'
                )"
                class="product-card group bg-white border border-black/10 p-4 cursor-pointer hover:shadow-xl transition duration-300">

                <div class="aspect-[4/5] overflow-hidden bg-[#eee]">
                    <img
                        src="{{ url_for('static', filename='img/puma2.jpeg') }}"
                        class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
                </div>

                <div class="pt-5">
                    <p class="text-[11px] uppercase tracking-[0.25em] text-[#8b1e2d]">
                       Puma
                    </p>

                    <h3 class="text-2xl mt-2">
                        Puma
                    </h3>

                    <p class="font-semibold mt-3">
                        $95.000 COP
                    </p>
                </div>

            </article>

        </div>

    </div>

</section>

{% include 'components/productos/product-modal.html' %}