<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}611 Boutique{% endblock %}</title>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='img/css/style.css') }}">
</head>

<body class="bg-[#f8f5f1] text-[#111]">

  {% include "components/header.html" %}

  {% block content %}
  {% endblock %}

  {% include "components/footer.html" %}

  <script>
    
function filterProducts(brand, button) {
    const products = document.querySelectorAll(".product-card");

    products.forEach(product => {
        const productBrand = product.getAttribute("data-brand");

        if (brand === "todos" || productBrand === brand) {
            product.style.display = "block";
        } else {
            product.style.display = "none";
        }
    });

    const buttons = document.querySelectorAll(".filter-btn");
    buttons.forEach(btn => btn.classList.remove("active-filter"));

    button.classList.add("active-filter");
}
</script>

</body>
</html>